<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Kappa Nickname Portal</title>

  <!-- CSS -->
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
  

</head>

<body>
  <header>
    <div class="container">
      <nav>
        <ul>
          <li><a href={{  url_for('login') }}>Login</a></li>
          <li><a href={{  url_for('submission')  }}>Nickname Submission</a></li>
          <li><a href={{  url_for('search')  }}>Sisters</a></li>
        </ul>
      </nav>
    </div>
  </header>
  
  {% block content %}

  {% endblock %}

  
</body>
</html>