<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Kappa Nickname Portal</title>

<!-- Compiled and minified CSS -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">


</head>

<body>
  <header>
    <div class="container">
      <nav>
        <ul>
          <li><a href={{  url_for('login') }}>Login</a></li>
          <li><a href={{  url_for('submission')  }}>Nickname Submission</a></li>
          <li><a href={{  url_for('search')  }}>Sisters</a></li>
        </ul>
      </nav>
    </div>
  </header>
  
  {% block content %}

  {% endblock %}

   <!-- Compiled and minified JavaScript -->
   <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
          
</body>
</html>