{% extends "base.html" %}

{% block content %}


<div class="container">
  <h2>Nickname Submission</h2>

  <div class="card">

      <div class="card-tab">
        <ul class="tabs tabs-fixed-width">
        {% for i in range(1,4) %}
          <li class="tab"><a href="#submission{{ i }}">Submission {{ i }}</a></li>
        {% endfor %}
      </ul>
      </div>


      <div class="card-content grey lighten-4">
        {% for i in range(1,4) %}
        <div id="submission{{ i }}">
          <form action="" method="POST" novalidate>
            {{ form.hidden_tag() }}

            <p> 
              {{ form.nickname.label }} <br>
              {{ form.nickname }}
            </p>
        
            <p> 
              {{ form.meaning.label }} <br>
              {{ form.meaning }}
            </p>
        
            <p>{{ form.submit(class="btn pulse red darken-4") }}</p>
        
          </form>
        </div>
        {% endfor %}
      </div>

    </div>
</div>


{% endblock %}